language: python
python: 3.8
dist: bionic
env:
  global:
   - DJANGO="Django==3.1.1"
   - DRF="djangorestframework==3.11.1"
   - WQ_CORE="wq.core==1.3.0a1"
   - WQ_APP="wq.app==1.3.0a1"
   - WQ_DB="wq.db==1.3.0a1"
   - XLSCONV="xlsconv==1.2.0"
install:
 - pip install $DJANGO $DRF $XLSCONV
 - pip install $WQ_CORE $WQ_APP $WQ_DB
 - pip install .
addons:
  apt:
    packages:
      - libsqlite3-mod-spatialite
      - gdal-bin
matrix:
  include:
    - name: "wq start (Python 3.8, SpatialLite, No NPM)"
    - name: "Python 3.7"
      python: 3.7
    - name: "Python 3.6"
      python: 3.6
    - name: "PostGIS"
      env:
        - POSTGRES=1
      addons:
        postgresql: "10"
        apt:
          packages:
           - postgresql-10-postgis-2.4
    - name: "NPM"
      env:
        - WITH_NPM=1
    - name: "@wq/rollup-plugin"
      install:
        - cd packages/rollup-plugin
        - npm ci
      script:
        - npm test
        - npm run lint
    - name: "Python Lint"
      env:
        - LINT=1
      install:
        - pip install flake8
script:
 - ./runtests.sh
